<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Teerapat Kraisrisirikul's Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i"
      rel="stylesheet"
    />
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/resume.css" rel="stylesheet" />
    <link href="css/utils.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="app">
      <!-- Onload Methods -->
      <div style="display: none;">
        {{ initLanguage() }}
      </div>

      <nav
        class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
        id="sideNav"
      >
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <span class="d-block d-lg-none">Teerapat Kraisrisirikul</span>
          <span class="d-none d-lg-block">
            <img
              class="img-fluid img-profile rounded-circle mx-auto mb-2"
              src="img/profile.jpg"
              alt=""
            />
          </span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">{{ get(content.nav.about) }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#education"
                >{{ get(content.nav.education) }}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#activities"
                >{{ get(content.nav.activities) }}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#skills">{{ get(content.nav.skills) }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#achievements"
                >{{ get(content.nav.achievements) }}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#interests"
                >{{ get(content.nav.interests) }}</a
              >
            </li>
            <br />
            <li class="nav-item">
              <button class="btn btn-dark" v-if="lang == 'en'" v-on:click="setLanguage('th')">
                <a class="nav-link">
                  English
                </a>
              </button>
              <button class="btn btn-dark" v-if="lang == 'th'" v-on:click="setLanguage('jp')">
                <a class="nav-link">
                  Thai
                </a>
              </button>
              <button class="btn btn-dark" v-if="lang == 'jp'" v-on:click="setLanguage('en')">
                <a class="nav-link">
                  Japanese
                </a>
              </button>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid p-0">
        <section
          class="resume-section p-3 p-lg-5 d-flex align-items-center"
          id="about"
        >
          <div class="w-100">
            <h1 class="mb-0">
              {{ get(content.about.firstName) }}
              <span class="text-primary">{{ get(content.about.lastName) }}</span>
            </h1>
            <div class="subheading mb-5">
              {{ get(content.about.location) }} · (+66) 86 086 41XX ·
              <a href="mailto:teerapat_saint@hotmail.com"
                >teerapat_saint@hotmail.com</a
              >
            </div>
            <p class="lead mb-5">
              {{ get(content.about.intro )}}
            </p>
            <div class="social-icons">
              <a
                target="_blank"
                href="https://www.linkedin.com/in/teerapat-k-771756149/"
              >
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://github.com/810Teams">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </section>

        <!-- At some point, if available, insert experiences here -->

        <hr class="m-0" />

        <section
          class="resume-section p-3 p-lg-5 d-flex align-items-center"
          id="education"
        >
          <div class="w-100">
            <h2 class="mb-5">Education</h2>

            <div
              class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
            >
              <div class="resume-content">
                <h3 class="mb-0">
                  King Mongkut's Institute of Technology Ladkrabang
                </h3>
                <div class="subheading mb-3">
                  Bachelor of Science - BSc, Information Technology
                </div>
                <ul class="fa-ul mb-0">
                  <li>
                    <i class="fa-li fa fa-certificate text-warning"></i>Current
                    Cumulative GPA of 3.84
                  </li>
                  <li>
                    <i class="fa-li fa fa-certificate text-warning"></i>4-Year
                    Scholarship Student
                  </li>
                </ul>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">August 2017 - Present</span>
              </div>
            </div>

            <div
              class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
            >
              <div class="resume-content">
                <h3 class="mb-0">Satriwitthaya 2 School (High School)</h3>
                <div class="subheading mb-3">
                  Mathematics and Science Major, Special Program (SP)
                </div>
                <ul class="fa-ul mb-0">
                  <li>
                    <i class="fa-li fa fa-certificate text-warning"></i
                    >Cumulative GPA of 3.17
                  </li>
                  <li>
                    <i class="fa-li fa fa-certificate text-warning"></i>
                    Special Program (SP) specializes in the addition of English
                    classes and activites.
                  </li>
                </ul>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">May 2014 - March 2017</span>
              </div>
            </div>

            <div
              class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
            >
              <div class="resume-content">
                <h3 class="mb-0">Satriwitthaya 2 School (Middle School)</h3>
                <div class="subheading mb-3">English Program (EP)</div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">May 2011 - March 2014</span>
              </div>
            </div>

            <div
              class="resume-item d-flex flex-column flex-md-row justify-content-between"
            >
              <div class="resume-content">
                <h3 class="mb-0">Chokchai School (Primary School)</h3>
                <div class="subheading mb-3">English Program (EP)</div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">May 2005 - March 2011</span>
              </div>
            </div>
          </div>
        </section>

        <hr class="m-0" />

        <section
          class="resume-section p-3 p-lg-5 d-flex align-items-center"
          id="activities"
        >
          <div class="w-100">
            <h2 class="mb-5">Activities</h2>

            <div
              class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
            >
              <div class="resume-content">
                <h3 class="mb-0">IT KMITL Open-House 2018</h3>
                <div class="subheading mb-3">
                  Problem Solving and Data Analysis Competition Supervisor
                </div>
                <div>
                  IT KMITL Open-House normally has 3 competitions. Problem
                  Solving and Data Analysis Competition is one of the 3
                  competitions. Competetors will be high school students. All
                  competetors will be awarded with a certificate from
                  participation. Top rankers will be awarded with a special
                  prize and certificate by the dean of the faculty.
                </div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">August 2018</span>
              </div>
            </div>
            <div
              class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
            >
              <div class="resume-content">
                <h3 class="mb-0">Pre-Programming 2018 (Preparatory Course)</h3>
                <div class="subheading mb-3">Instructor</div>
                <div>
                  Pre-Programming 2018 is a preparatory course of Faculty of
                  Information Technology, King Mongkut's Institute Technology
                  Ladkrabang. This course will cover from basic to intermediate
                  Python programming and algorithms. Attenders will be all new
                  1st year students, as the instructors and teaching assistants
                  will be 2nd year students. The course will take place before
                  the first semester arrives.
                </div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">May 2018 - July 2018</span>
              </div>
            </div>
            <div
              class="resume-item d-flex flex-column flex-md-row justify-content-between"
            >
              <div class="resume-content">
                <h3 class="mb-0">ToBeIT@KMITL 2017 Event</h3>
                <div class="subheading mb-3">President</div>
                <div>
                  ToBeIT@KMITL is an event of Faculty of Information Technology,
                  King Mongkut's Institute Technology Ladkrabang. This event
                  gathers up high school students who have interests in having
                  an entrance exam to IT KMITL. They will attend classes having
                  a review before taking an entrance exam, lectured by 1st year
                  students.
                </div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">October 2017</span>
              </div>
            </div>
          </div>
        </section>

        <hr class="m-0" />

        <section
          class="resume-section p-3 p-lg-5 d-flex align-items-center"
          id="skills"
        >
          <div class="w-100">
            <h2 class="mb-5">Skills</h2>

            <!-- <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-js-square"></i>
            </li>
          </ul> -->

            <div class="mb-5">
              <div class="subheading mb-3">
                Programming Languages &amp; Tools
              </div>
              <ul class="fa-ul mb-0">
                <li>
                  <i class="fa-li fab fa-python"></i>
                  Python
                </li>
                <li>
                  <i class="fa-li fas fa-code"></i>
                  C
                </li>
                <li>
                  <i class="fa-li fas fa-code"></i>
                  Java
                </li>
                <li>
                  <i class="fa-li fas fa-code"></i>
                  Dart
                </li>
                <li>
                  <i class="fa-li fab fa-html5"></i>
                  HTML
                </li>
                <li>
                  <i class="fa-li fab fa-css3-alt"></i>
                  CSS
                </li>
                <li>
                  <i class="fa-li fab fa-js-square"></i>
                  JavaScript
                </li>
              </ul>
            </div>

            <div class="mb-5">
              <div class="subheading mb-3">Frameworks</div>
              <ul class="fa-ul mb-0">
                <li>
                  <i class="fa-li far fa-file-code"></i>
                  Flutter
                </li>
                <li>
                  <i class="fa-li far fa-file-code"></i>
                  Vue.js
                </li>
                <li>
                  <i class="fa-li far fa-file-code"></i>
                  Django
                </li>
              </ul>
            </div>

            <div class="mb-5">
              <div class="subheading mb-3">
                Languages
              </div>
              <ul class="fa-ul mb-0">
                <li>
                  <i class="fa-li fas fa-globe-asia"></i>
                  Thai <i>(Native Speaker)</i>
                </li>
                <li>
                  <i class="fa-li fas fa-globe-americas"></i>
                  English <i>(C1)</i>
                </li>
                <li>
                  <i class="fa-li fas fa-globe-asia"></i>
                  Japanese <i>(A2)</i>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <hr class="m-0" />

        <section
          class="resume-section p-3 p-lg-5 d-flex align-items-center"
          id="achievements"
        >
          <div class="w-100">
            <h2 class="mb-5">Achievements</h2>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-certificate text-warning"></i>
                Test of English for International Communication (TOEIC) of
                870/990 (August 2019)
              </li>
            </ul>
          </div>
        </section>

        <hr class="m-0" />

        <section
          class="resume-section p-3 p-lg-5 d-flex align-items-center"
          id="interests"
        >
          <div class="w-100">
            <h2 class="mb-5">Interests</h2>
            <p>
              In a field of information technology, my most interested topic
              would be software and web development. As for special topics, I
              would pick data-related topics, machine learning and artificial
              intelligence as my most interested topics, since they are likely
              to have a big role in the future.
            </p>
            <p>
              Apart from being a developer, I enjoy studying Japanese language.
              I am currently studying Japanese language by myself everyday. I
              wish to master it someday.
            </p>
          </div>
        </section>
      </div>
    </div>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="lang/lang.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>
  </body>
</html>
